* {
    margin: 0;
    padding: 0;
    font-weight: 100!important;
    font-family: "Lucida Console", "Monaco", "Courier New", "Courier", "monospace", "宋体"!important;
  }
  .container {
    width: 1000px;
    margin: 0 auto;
  }
  .select {
    display: inline-block;
    width: 100px;
    height: 30px;
  }
  .button {
    display: inline-block;
    width: 100px;
    height: 30px;
    vertical-align: middle;
  }
  .ml-sm {
    margin-left: 10px;
  }